@use 'sass:math';

// Variaveis de texto
$defaultDarkBlue: #0A162E;
$defaultLightGrey: rgba(10, 22, 46, 0.24);
$defaultWhite: white;
$defaultDarkGrey: rgb(75, 75, 75);

// Menu
$menuHeigh: 79px;
$menuHeighTop: 496px;
$slopeSize: 100px;
$halfSlopeSize: math.div($slopeSize, 2);
$adjustPositionSlopeL: $halfSlopeSize * -1 - 1px;
$adjustPositionSlopeR: $halfSlopeSize * -1 - 1px;
$adjustBottomSlopePosition: $menuHeigh - $halfSlopeSize - 1px;
$adjustHighSlopePosition: $menuHeighTop - $halfSlopeSize - 1px;

// Icones
$iconTrue: white;
$iconFalse: rgba(255, 255, 255, 0.3);
$iconFalseHover: rgba(255, 255, 255, 0.5);

// Imagens
$backgrountNoImage: #657087;

// Backgrounds
$input_default_bg: #E2E2E2;
$inputSecondBg: #E3E3E3;
$defaultPressedColor: rgb(209, 68, 68);

$supplierInfoCalc: 496px - $menuHeigh;