@use 'variables';
*{
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.fontStyle{
  font-family: "Sen", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.center{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    .logoMain{
        width: 324px;
        border-radius: 100%;
    }
}
.centerVertical{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.defaultLogo{
    width: 196px;
    border-radius: 100%;
    margin-top: 10%;
}
.pageDiv{
    display: flex;
    flex-direction: column;
    height: 100vh;
    align-items: center;
    justify-content: space-around;
}
.texth3{
    text-transform: uppercase;
    font-weight: bold;
    font-size: 24px;
}
.inputText{
    background-color: variables.$input_default_bg;
    border-style: none;
    width: 337px;
    height: 49px;
    border-radius: 50px;
    font-weight: bold;
    font-size: 24px;
    color: variables.$defaultDarkBlue;
    padding: 0 20px 0 20px;
    margin-bottom: 20px;
    &::placeholder{
        color: variables.$defaultLightGrey;
    }
}
.inputDisplay{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: fit-content;
}
.defaultButton{
    background-color: variables.$defaultDarkBlue;
    color: white;
    font-weight: bold;
    font-size: 24px;
    width: 193px;
    height: 49px;
    text-align: center;
    border-style: none;
    border-radius: 50px;
}
.aBitOfText{
    color: variables.$defaultLightGrey;
    font-size: 16px;
    font-weight: bold;
    text-transform: uppercase;
}
.linkText{
    color: variables.$defaultDarkBlue;
    text-decoration: none;
}
.imageButton{
    width: 44px;
    height: 50px;
    background-color: variables.$defaultLightGrey;
    padding: 10px 13px 10px 13px;
    border-radius: 50px;
    margin: 20px;
    position: fixed;
}
.mainPageArea{
    width: 100vw;
    height: 853px;
    border-bottom: 50px;
    overflow-y: scroll;
    position: fixed;
}
.bottomLeft{
    fill: variables.$defaultDarkBlue;
    position: absolute;
    width: variables.$slopeSize;
    left: variables.$adjustPositionSlopeL;
    bottom: variables.$adjustBottomSlopPosition;
}
.bottomRight{
    fill: variables.$defaultDarkBlue;
    position: absolute;
    width: variables.$slopeSize;
    right: variables.$adjustPositionSlopeR;
    bottom: variables.$adjustBottomSlopPosition;
}
.menuUl{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    width: 100vw;
    height: 79px;
    overflow: hidden;
}
.menuDiv{
    background-color: variables.$defaultDarkBlue;
    position: absolute;
    bottom: 0px;
}
.iconTrue{
    fill: variables.$iconTrue;
    width: 30px;
    height: 30px;
}
.iconFalse {
    display: inline-block;
    fill: variables.$iconFalse;
    width: 30px;
    height: 30px;
}
.iconInstance{
    transition: fill 0.5s ease, transform 0.3s ease;
}
.iconInstance:hover{
    .iconFalse{
        fill: variables.$iconFalseHover;
    }
    transform: scale(1.2);
}